<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="main.css">

	<title>PulseCheck</title>
</head>
<body>
	{{> header}}
	<div class="container-fluid">		
		<div class="row">
			<div class="col-md-1 col-xl-2 visible-md visible-lg visible-xl">
				<div class="box">
					<div class="scroll">
						<img src="avatars/avatar0.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar1.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar2.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar3.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar4.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar5.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar6.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar7.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar8.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar9.png" class="img-responsive">
						<hr class="hr-avatar">
  						<img src="avatars/avatar10.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar11.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar12.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar13.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar14.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar15.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar16.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar17.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar18.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar19.png" class="img-responsive">
					</div class="hr-avatar">
				</div> <!-- Avatars -->
			</div>
			<div class="col-xl-8 col-lg-10 col-md-10 col-xs-12">
				<div class="box">
					<div class="scroll">
						<div class="row">
							<h1 class="text-center">About PulseCheck</h1>>
						</div>
						<div class="row">
							<div class="col-xs-7">
								<h3>Have you ever wanted a way to gauge your student's understanding quickly and efficiently?  Do you like to give a warmup activity at the beginning of class?  PulseCheck allows you to get immediate feedback with minimal setup.</h3>
								<h3>Not a teacher?  Not a problem.  Certainly you would be able to find other uses for this app.  You can get feedback from your employees, coworkers, or even your friends.  If you want it to be anonymous, you could even have users sign up without using their real name.  The possibilities are endless.</h3>
							</div>
							<div class="col-xs-5">
								<img class="img-responsive" src="screenshots/addquestion.png" alt="Add a Question">
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<h3>The administrator view gives you access to information about individual students, information about the entire classes responses to each question, as well as step-by step directions to use the website efficently.</h3>
							</div>									
						</div>
						<div class="row">
							<div class="col-xs-4">
								<img class="img-responsive" src="screenshots/directions.png" alt="Directions">
							</div>
							<div class="col-xs-4">
								<img class="img-responsive" src="screenshots/viewusers.png" alt="View Users">
							</div>
							<div class="col-xs-4">
								<img class="img-responsive" src="screenshots/viewresults.png" alt="View Questions">
							</div>
						</div>
						<div class="row">
							<div class="col-xs-5">
								<img class="img-responsive" src="screenshots/classbreakdown.png" alt="Class Breakdown">
							</div>
							<div class="col-xs-7">
								<h3>As an administrator, you can view the question and see the breakdown of answers by the users.  Teachers can project this onto the board at the beginning of class.  The app will update the pie chart as users submit their answers, giving percentages for the correct answer and for each of the incorrect answers as well.  Teachers can tailor their instruction based upon the feedback they receive.</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-7">
								<h3>As a student, in the user view, you have fewer options, but that is the beauty of the app.  Students or other users will be able to log in with a computer, laptop, tablet, or even a cell phone.  They have access to the responses that they have given as well as a view for the current question.</h3>
								<h3>As students answer questions, they can see the updates to the chart as well.  When a new question is ready, they can move on to the next question.</h3>
							</div>
							<div class="col-xs-5">
								<img class="img-responsive" src="screenshots/userprofile.png" alt="User Profile">
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<h2><a href="/signup">Sign up</a> today as an administrator or a user to try out the app for free.  Use the key "administrator" for a trial period.</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1 col-xl-2 visible-md visible-lg visible-xl"> <!-- Avatars -->
				<div class="box">
					<div class="scroll">
						<img src="avatars/avatar10.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar11.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar12.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar13.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar14.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar15.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar16.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar17.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar18.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar19.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar0.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar1.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar2.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar3.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar4.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar5.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar6.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar7.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar8.png" class="img-responsive">
						<hr class="hr-avatar">
						<img src="avatars/avatar9.png" class="img-responsive">
					</div class="hr-avatar">
				</div>
			</div>
		</div>
	</div>

	<!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- bootstrapjs -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	<!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>