<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="main.css">

	<!-- favicon -->
  <link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon'/ >

	<title>PulseCheckPolling</title>
</head>
<body>
	{{> header}}
	<div class="container-fluid">		
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="scroll">
						<div class="row">
						</div>
						<div class="row">
							<div class="col-md-6 col-xs-12">
								<h1 class="text-center">PulseCheckPolling</h1>
								<img src="screenshots/screenshot0pcp.png" class="img-responsive project-images img-0" alt="">
								<img src="screenshots/screenshot1pcp.png" class="img-responsive project-images img-1" alt="">
								<img src="screenshots/screenshot2pcp.png" class="img-responsive project-images img-2" alt="">
								<img src="screenshots/screenshot3pcp.png" class="img-responsive project-images img-3" alt="">
								<img src="screenshots/screenshot4pcp.png" class="img-responsive project-images img-4" alt="">
								<img src="screenshots/screenshot5pcp.png" class="img-responsive project-images img-5" alt="">
							</div>
							<div class="col-md-6 col-xs-12">
								<h2>What is PulseCheck?</h2>
								<h3>Have you ever wanted a way to gauge your student's understanding quickly and efficiently?  Do you like to give a warmup activity at the beginning of class?  PulseCheck Polling allows you to give immediate feedback with minimal setup.</h3>
								<h2>For Teachers</h2>
								<h3>Teachers can project questions onto the board to check student understanding.  The immediate feedback provided by PulseCheck allows teachers to tailor their instruction or modify their lesson or unit plans.  The teacher has access to information about an individual student, about an entire class, or about responses to an individual question, as well as step-by step directions to use the website efficently.</h3>
								<h2><a href="/signup">Sign up</a> today to try out the app for free.  Use the key "administrator" for a teacher account.</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- bootstrapjs -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	<!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>