<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="main.css">

	<title>PulseCheck</title>
</head>
<body>
	{{> header}}
	<div class="container-fluid">		
		<div class="row">
			<div class="col-md-3"> <!-- Admin Profile Info -->
				<div class="box">
					<div class="scroll">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<img src="avatars/avatar0.png" class="img-responsive avatar">
							</div>
						</div>
						<h2 class="text-center">Mr. Noble</h2>
						<h4>username:</h4>
						<h4 class="tab">mrnoble</h4>
						<h4>password:</h4>
						<h4 class="tab">[edit]</h4>
						<button class="btn btn-success btn-block" id="user-btn">View Users</button>
						<button class="btn btn-success btn-block" id="question-btn">View Results</button>
						<button class="btn btn-success btn-block" id="add-question-btn">Add Question</button>
						<button class="btn btn-success btn-block" id="display-question-btn">View Questions</button>
						<button class="btn btn-success btn-block" id="directions-btn">Directions</button>
					</div>
				</div>
			</div>
			<div class="col-md-9" id="directions">
				<div class="box">
					<div class="scroll">
						<h2>Directions</h2>
						<h3>To get started:</h3>
						<ol>
							<li>Have users sign up and enter a password</li>
							<li>Enter a question into the database</li>
							<li>Click the View Question button</li>
							<li>Choose the question that you would like students to answer</li>
						</ol>
						<h3>To view results</h3>
						<ol>
							<li>Click the View Users button to review the results by user</li>
							<li>Choose a user to see their answers to each question</li>
							<li>Click the View Results button to review the breakdown of each question</li>
							<li>Choose a question to see which users answered correctly or incorrectly.</li>
						</ol>
					</div>						
				</div>
			</div>
			<div class="col-md-3" id="user-list">
				<div class="box">
					<div class="scroll">
						<h2 class="text-center"><strong>Users</strong></h2>
						<button class="btn btn-success btn-block user-tab" id="user-1">User 1</button>
						<button class="btn btn-success btn-block user-tab" id="user-2">User 2</button>
						<button class="btn btn-success btn-block user-tab" id="user-3">User 3</button>
						<button class="btn btn-success btn-block user-tab" id="user-4">User 4</button>
						<button class="btn btn-success btn-block user-tab" id="user-5">User 5</button>
						<button class="btn btn-success btn-block user-tab" id="user-1">User 6</button>
						<button class="btn btn-success btn-block user-tab" id="user-2">User 7</button>
						<button class="btn btn-success btn-block user-tab" id="user-3">User 8</button>
						<button class="btn btn-success btn-block user-tab" id="user-4">User 9</button>
						<button class="btn btn-success btn-block user-tab" id="user-5">User 10</button>
						<button class="btn btn-success btn-block user-tab" id="user-1">User 11</button>
						<button class="btn btn-success btn-block user-tab" id="user-2">User 12</button>
						<button class="btn btn-success btn-block user-tab" id="user-3">User 13</button>
						<button class="btn btn-success btn-block user-tab" id="user-4">User 14</button>
						<button class="btn btn-success btn-block user-tab" id="user-5">User 15</button>
						<button class="btn btn-success btn-block user-tab" id="user-1">User 16</button>
						<button class="btn btn-success btn-block user-tab" id="user-2">User 17</button>
						<button class="btn btn-success btn-block user-tab" id="user-3">User 18</button>
						<button class="btn btn-success btn-block user-tab" id="user-4">User 19</button>
						<button class="btn btn-success btn-block user-tab" id="user-5">User 20</button>						
					</div>
				</div>
			</div>
			<div class="col-md-3" id="question-list">
				<div class="box">
					<div class="scroll">
						<h2 class="text-center"><strong>Questions</strong></h2>
						<button class="btn btn-success btn-block question-tab" id="question-1">Question 1</button>
						<button class="btn btn-success btn-block question-tab" id="question-2">Question 2</button>
						<button class="btn btn-success btn-block question-tab" id="question-3">Question 3</button>
						<button class="btn btn-success btn-block question-tab" id="question-4">Question 4</button>
						<button class="btn btn-success btn-block question-tab" id="question-5">Question 5</button>						
						<button class="btn btn-success btn-block question-tab" id="question-1">Question 1</button>
						<button class="btn btn-success btn-block question-tab" id="question-2">Question 2</button>
						<button class="btn btn-success btn-block question-tab" id="question-3">Question 3</button>
						<button class="btn btn-success btn-block question-tab" id="question-4">Question 4</button>
						<button class="btn btn-success btn-block question-tab" id="question-5">Question 5</button>						
						<button class="btn btn-success btn-block question-tab" id="question-1">Question 1</button>
						<button class="btn btn-success btn-block question-tab" id="question-2">Question 2</button>
						<button class="btn btn-success btn-block question-tab" id="question-3">Question 3</button>
						<button class="btn btn-success btn-block question-tab" id="question-4">Question 4</button>
						<button class="btn btn-success btn-block question-tab" id="question-5">Question 5</button>						
						<button class="btn btn-success btn-block question-tab" id="question-1">Question 1</button>
						<button class="btn btn-success btn-block question-tab" id="question-2">Question 2</button>
						<button class="btn btn-success btn-block question-tab" id="question-3">Question 3</button>
						<button class="btn btn-success btn-block question-tab" id="question-4">Question 4</button>
						<button class="btn btn-success btn-block question-tab" id="question-5">Question 5</button>						
					</div>
				</div>
			</div>
			<div class="col-md-6" id="individual-results">
				<div class="box">
					<div class="scroll">
						<h3><strong>Question 1</strong></h3>
						<h4>Correct Answer:  foo</h4>
						<h5 class="tab">Users:  user1, user2, user3</h5>
						<h4>Incorrect Answer:  bar</h4>
						<h5 class="tab">Users:  user1, user2, user3</h5>
						<h4>Incorrect Answer:  bar2</h4>
						<h5 class="tab">Users:  user1, user2, user3</h5>
						<h4>Incorrect Answer:  bar3</h4>
						<h5 class="tab">Users:  Did somebody say bar?</h5>
						<h3>Class Breakdown</h3>
						<br>
						<img src="pie-chart-example.png" class="img-responsive" height="50%" width="50%">
					</div>
				</div>
			</div>
			<div class="col-md-3 add-question">
				<div class="box">
					<div class="scroll">
						<h3>Fill in the following forms and click submit to insert a question</h1>
						<hr>
						<form role="form">
						  <div class="form-group">
						    <label for="question">Question:</label>
						    <input type="text" class="form-control" id="question">
						  </div>
						  <div class="form-group">
						    <label for="correct-answer">Correct Answer:</label>
						    <input type="text" class="form-control" id="correct-answer">
						  </div>
						  <div class="form-group">
						    <label for="answer-choice-1">Answer Choices:</label>
						    <input type="text" class="form-control" id="answer-choice-1">
						  </div>
						  <div class="form-group">
						    <input type="text" class="form-control" id="answer-choice-2">
						  </div>
						  <div class="form-group">
						    <input type="text" class="form-control" id="answer-choice-3">
						  </div>

						  <button type="submit" class="btn btn-success" id="submit-question">Submit</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-1 add-question">
				<div class="center-box">
					<h2>Question</h2>
					<hr>  <!-- danger, warning, success, primary -->
					<button class="btn btn-success btn-block" id="answer-a">Answer A</button>
					<button class="btn btn-success btn-block" id="answer-b">Answer A</button>
					<button class="btn btn-success btn-block" id="answer-c">Answer A</button>
					<button class="btn btn-success btn-block" id="answer-d">Answer A</button>
				</div>
			</div>
		</div>
	</div>

	<!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- bootstrapjs -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	<!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="main.js"></script>
</body>
</html>