<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="main.css">

	<title>PulseCheck</title>
</head>
<body>
	{{> header}}
	<div class="container-fluid">		
		<div class="row">
			<div class="col-md-3">
				<div class="box">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<img src="avatars/avatar0.png" class="img-responsive avatar">
						</div>
					</div>
					<h1>User Profile</h1>
					<h2>username:  user1</h2>
					<h2>password:  [edit]</h2>
				</div>
			</div>
			<div class="col-md-3" id="user-question-list">
				<div class="box">
					<h1><strong>Questions</strong></h1>
					<p>Question 1</p>
					<p>Question 2</p>
					<p>Question 3</p>
					<p>Question 4</p>
					<p>Question 5</p>
				</div>
			</div>
			<div class="col-md-6" id="user-results">
				<div class="box">
					<h1><strong>Question 1</strong></h1>
					<h2>Your Answer:</h2>
					<h3>Your Answer</h3>
					<h2>Correct Answer:</h2>
					<h3>Correct Answer</h3>
					<h2>Class Breakdown</h2>
					<br>
					<img src="pie-chart-example.png" class="img-responsive" height="50%" width="50%">
				</div>
			</div>
		</div>
	</div>

	<!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- bootstrapjs -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	<!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="main.js"></script>
</body>
</html>